<nb-card>
    <nb-card-body>
        <h5>Total Applications
          <nb-progress-bar [value]="80" status="primary" [displayValue]="true"></nb-progress-bar>
        </h5>
        <h5>ShortListed
            <nb-progress-bar [value]="55" status="primary" [displayValue]="true"></nb-progress-bar>
        </h5>
        <h5>Referals
            <nb-progress-bar [value]="15" status="primary" [displayValue]="true"></nb-progress-bar>
        </h5>
        <h5>selected
            <nb-progress-bar [value]="40" status="primary" [displayValue]="true"></nb-progress-bar>
        </h5>
        <h5>Rejected
            <nb-progress-bar [value]="30" status="danger" [displayValue]="true"></nb-progress-bar>
        </h5>
        
      <!-- <nb-progress-bar [value]="60" status="primary">Custom value</nb-progress-bar> -->
    </nb-card-body>
  </nb-card>