<div class="gif">
    <h5>John Depp you have few notifications</h5>
    <img src="https://i.pinimg.com/originals/2a/c9/f2/2ac9f27e2ab6e1ed0ee78e150d5e4f26.gif" alt="minions" height="210px" width="100%" class="img">
  </div>
  
  <nb-card>
    <nb-card-body class="notification">
      <nb-alert outline="basic">notification1</nb-alert>
      <nb-alert outline="primary">notification2</nb-alert>
      <nb-alert outline="success">notification3</nb-alert>
      <nb-alert outline="basic">notification4</nb-alert>
      <nb-alert outline="primary">notification5</nb-alert>
      <nb-alert outline="success">notification6</nb-alert>
    </nb-card-body>
  </nb-card>